name: Python/Parser - CI

on: [pull_request]

defaults:
  run:
    working-directory: parser

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.11.x]

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pipenv wheel
        pipenv install --deploy --dev
    - name: Test with Python ${{ matrix.python-version }}
      run: |
        pipenv run unit-test
    - name: Lint with Python ${{ matrix.python-version }}
      run: |
        pipenv run lint
        pipenv run black-check
        pipenv run isort-check
    - name: Check type hints with ${{ matrix.python-version }}
      run: |
        pipenv run type-hints